/* Reset Elements */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  user-select: none;
}

/*Variables*/

:root {
  /* Global */
  --orange-main-color: #aeb628;
  --black-text-color: #000000;
  --black-alter-text-color: #3c3c3b;
  --black-title-color: #131313;
  --white-text-color: #ffffff;
  --white-color: #ffffff;
  --gray-color: #f5f5f5;
  --gray-bg-color: #f2f2f2;
  --gray-alter-bg-color: #ececec;
  --gray-alter-two-bg-color: #f1f1f1;
  --gray-disabled-text-color: #6f6f6e;
  --gray-text-color: #9c9b9b;
  --gray-disable-bg-color: #cccccc;
  --ocher-color: #eec686;
  --red-color: #c2171d;
  --green-color: #7eb88c;
  --gray-border-color: #999999;
  --gray-selected-bg-color: #c6c6c5;
  /* Bottoms */
  --btn-disabled-color: #cccccc;
  --btn-primary-color: #aeb628;
  --btn-primary-hover-color: #ccd424  ;
  --btn-success-color: #7eb88c;
  --btn-success-hover-color: #a3ccad;
  --btn-error-color: #c2171d;
  --btn-error-hover-color: #e5242a;
  /* Switch */
  --switch-selected: #b8bf20;
  --switch-no-selected: #d9d9d9;
  /* Fonts Size */
  --small-font: 11px;
  --lh-small-font: 10px;
  --regular-font: 11px;
  --lh-regular-font: 12px;
  --medium-font: 12px;
  --lh-medium-font: 11px;
  --big-font: 35px;
  --lh-big-font: 24px;
  --normal-font: 16px;
  --lh-normal-font: 14px;
  --normal-btn-font: 14px;
  --lh-normal-btn-font: 15px;
  --title-font: 18px;
  --lh-title-font: 16px;
  --p-font: 13px;
  --lh-p-font: 12px;
  --special-font: 17px;
  --lh-special-font: 16px;
  --title-details-font: 20px;
  --lh-title-details-font: 19px;
}

/* Globales */

.marginB15 {
  margin-bottom: 15px;
}

div.contTextDown {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.contTextDown span.spanHelperBtn {
  font-size: var(--normal-font);
  line-height: var(--lh-normal-font);
  margin-top: 3px;
}

div.contCompartido {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.contCompartido div.sinPadding {
  width: 40%;
}

.marginB30 {
  margin-bottom: 30px;
}

.marginT10 {
  margin-top: 10px;
}

.marginT15 {
  margin-top: 15px;
}

.marginT20 {
  margin-top: 20px;
}

.marginT25 {
  margin-top: 25px;
}

div#mainContainer.container {
  height: 100%;
  min-height: 100vh;
  background-color: var(--white-color);
  max-width: 1024px !important;
}

body p {
  margin: 0;
}

.paddingLateral {
  padding-left: 15px;
  padding-right: 15px;
}

.sinPadding {
  padding: 0;
}

div.contSpecialForm {
  width: 100%;
  padding: 0;
}

.hidden {
  display: none !important;
}

.h1TitleForm {
  font-weight: 700;
  font-size: var(--title-font);
  line-height: var(--lh-title-font);
  color: var(--black-title-color);
  margin-bottom: 20px;
  text-align: center;
}

.h1TitleEnfasis {
  font-weight: 700;
  font-size: var(--big-font);
  line-height: var(--lh-big-font);
  color: var(--orange-main-color);
  margin-bottom: 10px;
  text-align: left;
}

.contMaxWeb {
  max-width: 375px;
  margin-right: auto !important;
  margin-left: auto !important;
}

/* Header */

header {
  position: relative;
  width: 100%;
  z-index: 1000;
}

div.divContSaldo,
div.divContDetalle {
  background-color: var(--orange-main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 15px;
  color: var(--white-text-color);
}

img.imgLogo {
  width: 110px;
}

p.pDataInfo {
  font-weight: 400;
  font-size: var(--normal-font);
  line-height: var(--title-font);
  color: var(--black-text-color);
  text-align: left;
  margin-bottom: 5px;
}

p.pSaldo {
  font-weight: 400;
  font-size: var(--small-font);
  line-height: var(--lh-small-font);
  color: var(--white-text-color);
  text-align: right;
}

p.pSaldo span.spanSaldoValor {
  font-weight: 700;
  font-size: var(--normal-font);
  line-height: var(--lh-normal-font);
  display: block;
}

div.divContInfoUser {
  background-color: var(--gray-bg-color);
  padding: 6px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.imgMotero {
  width: 48px;
}

p.pInfoUser {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p.pInfoUser span.spanTagPremium {
  font-weight: 700;
  font-size: var(--title-font);
  line-height: var(--lh-title-font);
  width: 100%;
  text-align: left;
}

p.pInfoUser span.spanNombreCliente {
  font-weight: 400;
  font-size: var(--normal-font);
  line-height: var(--lh-normal-font);
  width: 100%;
  text-align: left;
}

p.pInfoUser span.spanInfoAdicional {
  font-weight: 400;
  font-size: var(--p-font);
  line-height: var(--lh-p-font);
  width: 100%;
  text-align: left;
}

div.divBodegas {
  display: flex;
  align-items: center;
}

p.pInfoBodega {
  font-weight: 700;
  font-size: var(--title-font);
  line-height: var(--lh-title-font);
  color: var(--orange-main-color);
  margin-right: 10px;
  text-align: right;
}

p.pInfoBodega span.spanSubTitleBodegas {
  display: block;
  width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: var(--p-font);
  line-height: var(--lh-p-font);
  color: var(--black-text-color);
}

div.divContDetalle {
  padding: 3px 15px;
}

div.divContDetalle p.pDetalles {
  font-size: var(--p-font);
  line-height: var(--lh-p-font);
}

/* Breadcrumb */

div.divBreadcrumb {
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray-border-color);
}

div.divBreadcrumb i.iBreadcrumb {
  font-size: 25px;
  width: 25px;
  height: 25px;
  background-color: var(--gray-bg-color);
  color: var(--black-text-color);
  display: flex;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 8px;
}

div.divBreadcrumb p.pTxtBreadcrumb {
  font-weight: 700;
  font-size: var(--p-font);
  line-height: var(--lh-p-font);
  cursor: pointer;
}

/* Inputs */

input.form-control,
textarea.form-control,
select.form-control {
  font-weight: 400;
  font-size: var(--p-font);
  line-height: var(--lh-p-font);
  color: var(--black-text-color);
  height: 30px;
  padding: 5px 8px;
  background: var(--white-color);
  border: 1px solid var(--gray-border-color);
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 3px;
  width: 100%;
}

input.form-control {
  overflow: hidden;
  text-overflow: ellipsis;
}

input.form-control.passwordInfo,
input[type="password"].form-control {
  padding-right: 40px;
  overflow: initial !important;
  text-overflow: initial;
}

input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
  box-shadow: none;
  border: 1px solid var(--orange-main-color);
  color: var(--black-text-color);
}

input.form-control:disabled,
input.form-control[readonly] {
  background-color: var(--gray-alter-two-bg-color);
  cursor: not-allowed;
  color: var(--gray-disabled-text-color);
  user-select: none;
}

label.labelNameInput {
  font-weight: 400;
  font-size: var(--p-font);
  line-height: var(--lh-p-font);
  color: var(--black-text-color);
  margin-bottom: 2px;
}

label.isOptional::after {
  content: "*opcional";
  font-weight: 700;
  font-size: var(--small-font);
  line-height: var(--lh-small-font);
  color: var(--black-text-color);
  margin-left: 5px;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.form-group div.groupIcon {
  display: flex;
  align-items: center;
}

.form-group div.groupIcon input,
div.bootstrap-select button.dropdown-toggle {
  width: 130px;
}

.form-group div.groupIcon b {
  font-size: var(--p-font);
  line-height: var(--lh-p-font);
  margin-bottom: 3px;
  margin-right: 4px;
}

input.form-control.inputError,
select.form-control.inputError,
textarea.form-control.inputError {
  border: 1px solid var(--red-color);
}

.form-group span.spanHelperErrorInput {
  display: none;
  font-weight: 700;
  font-size: var(--small-font);
  line-height: var(--lh-small-font);
  color: var(--red-color);
}

.form-group input.form-control.inputError + span.spanHelperErrorInput {
  display: block;
}

.form-group input.form-control.inputOpenWindow {
  cursor: pointer;
  background: var(--white-color);
  color: var(--black-text-color);
}

i.iTooltipPassword {
  position: absolute;
  right: 26px;
  bottom: 28px;
  font-size: 20px;
  color: var(--orange-main-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Select Bootstrap */

div.bootstrap-select button.dropdown-toggle {
  margin: 0 0 3px 0;
  font-weight: 400;
  font-size: var(--p-font);
  line-height: var(--lh-p-font);
  color: var(--black-text-color);
  height: 30px;
  padding: 2px 8px;
  background: var(--white-color) !important;
  border: 1px solid var(--gray-border-color);
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
}

div.bootstrap-select.show button.dropdown-toggle {
  border: 1px solid var(--orange-main-color);
}

div.bootstrap-select button.dropdown-toggle div.filter-option {
  display: flex;
  align-items: center;
}

div.bootstrap-select
  button.dropdown-toggle
  div.filter-option
  div.filter-option-inner {
  width: 100%;
}

div.bootstrap-select
  button.dropdown-toggle
  div.filter-option
  div.filter-option-inner
  div.filter-option-inner-inner {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px 0;
}

div.bootstrap-select button.dropdown-toggle:active {
  box-shadow: none;
  background: var(--white-color);
}

div.bootstrap-select button.dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid var(--orange-main-color);
  color: var(--black-text-color);
  background: var(--white-color);
}

div.bootstrap-select div.dropdown-menu.show {
  border: 1px solid var(--gray-border-color);
  padding-bottom: 0px;
}

div.bootstrap-select > .dropdown-toggle::after {
  /* border-left: 0 none !important;
    border-right: 0 none !important;
    border-top: 0 none !important; */
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 4px solid var(--black-text-color);
}

.dropup .dropdown-toggle::after {
  /* border-top: none !important;
    border-bottom: 0 none !important; */
  border-top: none !important;
  border-bottom: 4px solid var(--black-text-color);
}

div.bootstrap-select div.dropdown-menu.show ul.dropdown-menu li a {
  font-weight: 400;
  font-size: var(--p-font);
  line-height: var(--lh-p-font);
  color: var(--black-text-color);
  padding: 2px 8px;
}

div.bootstrap-select div.dropdown-menu.show ul.dropdown-menu li a:active {
  color: var(--black-text-color);
  background-color: var(--gray-bg-color);
}

div.bootstrap-select div.dropdown-menu.show ul.dropdown-menu li.active a {
  background-color: var(--gray-selected-bg-color);
}

div.bootstrap-select div.dropdown-menu.show ul.dropdown-menu li.disabled {
  cursor: not-allowed;
}

div.bootstrap-select div.dropdown-menu.show ul.dropdown-menu li.disabled a {
  color: var(--gray-disabled-text-color);
  background-color: var(--white-color);
}

div.bootstrap-select div.dropdown-menu.show ul.dropdown-menu li:hover {
  background-color: var(--gray-bg-color);
}

select.form-control.inputError + button.dropdown-toggle {
  border: 1px solid var(--red-color);
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: none !important;
  outline-offset: 0px;
  border: 1px solid var(--orange-main-color);
}

/* Botones */

button.buttonBtn {
  height: 35px;
  border-radius: 6px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 3px 16px;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  width: 230px;
  font-size: var(--normal-btn-font);
  line-height: var(--lh-normal-btn-font);
}

div.contInterfaceBtn {
  margin-top: 40px;
}

div.contBtnMultiple {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.contBtnMultiple button {
  width: 31%;
}

div.contBtnMultiple button.buttonBtn {
  margin: 0;
}

button.buttonBtn.btnLg {
  width: 100%;
  max-width: 640px;
}

button.buttonBtn.disabled,
button.buttonBtn:disabled {
  cursor: not-allowed !important;
  opacity: 1 !important;
  border-color: var(--btn-disabled-color) !important;
  color: var(--gray-disabled-text-color) !important;
  background-color: var(--btn-disabled-color) !important;
}

button.buttonBtn.btnPrimary {
  background: var(--btn-primary-color);
  border: 1px solid var(--orange-main-color);
  color: var(--white-text-color);
}

button.buttonBtn.btnPrimary:hover {
  background: var(--btn-primary-hover-color);
  border-color: var(--btn-primary-hover-color);
}

button.buttonBtn.btnPrimary:active:not(:disabled) {
  background: var(--btn-primary-hover-color);
  border-color: var(--btn-primary-hover-color);
  box-shadow: none;
}

button.buttonBtn.btnPrimary:focus {
  background: var(--btn-primary-hover-color);
  border-color: var(--btn-primary-hover-color);
  box-shadow: none;
}

button.buttonBtn.btnSuccess {
  background: var(--btn-success-color);
  border: 1px solid var(--btn-success-color);
  color: var(--white-text-color);
}

button.buttonBtn.btnSuccess:hover {
  background: var(--btn-success-hover-color);
  border-color: var(--btn-success-hover-color);
}

button.buttonBtn.btnSuccess:active:not(:disabled) {
  background: var(--btn-success-hover-color);
  border-color: var(--btn-success-hover-color);
  box-shadow: none;
}

button.buttonBtn.btnSuccess:focus {
  background: var(--btn-success-hover-color);
  border-color: var(--btn-success-hover-color);
  box-shadow: none;
}

button.buttonBtn.btnError {
  background: var(--btn-error-color);
  border: 1px solid var(--btn-error-color);
  color: var(--white-text-color);
}

button.buttonBtn.btnError:hover {
  background: var(--btn-error-hover-color);
  border-color: var(--btn-error-hover-color);
}

button.buttonBtn.btnError:active:not(:disabled) {
  background: var(--btn-error-hover-color);
  border-color: var(--btn-error-hover-color);
  box-shadow: none;
}

button.buttonBtn.btnError:focus {
  background: var(--btn-error-hover-color);
  border-color: var(--btn-error-hover-color);
  box-shadow: none;
}

button.btnCancel {
  background: transparent !important;
  color: var(--orange-main-color) !important;
}

button.buttonBtn.btnIco {
  height: 40px;
}

button.buttonBtn.btnIco.icoUp {
  flex-direction: column;
}

button.buttonBtn.btnIco.icoUp i {
  font-size: 13px;
  margin-bottom: 1px;
}

/* Switch */

div.contSwitch {
  display: flex;
  align-items: center;
}

div.contSwitch div.contOption {
  background: var(--gray-alter-two-bg-color);
  color: var(--black-text-color);
  font-size: var(--p-font);
  line-height: var(--lh-p-font);
  padding: 6px 12px;
  border: 1px solid var(--gray-border-color);
  cursor: pointer;
  user-select: none;
}

div.contSwitch div.contOption:first-child {
  border-radius: 6px 0px 0px 6px;
  border-right: 0px none;
}

div.contSwitch div.contOption:last-child {
  border-radius: 0px 6px 6px 0px;
  border-left: 0px none;
}

div.contSwitch div.contOption.optionActive {
  background: var(--orange-main-color);
  color: var(--white-text-color);
  border-color: var(--orange-main-color);
}

/* Collapse Container */

div.accordion div.card {
  border-color: var(--white-color);
  border-radius: 0px;
  /* border-color: var(--btn-disabled-color); */
  /* border-radius: 6px; */
}

div.accordion div.card div.card-header {
  background: var(--btn-disabled-color);
  padding: 2px 20px 2px 8px;
  display: flex;
  align-items: center;
  border: 1px solid var(--btn-disabled-color);
  border-color: var(--btn-disabled-color);
  position: relative;
}

div.accordion div.card div.card-header p {
  font-weight: 700;
  font-size: var(--regular-font);
  line-height: var(--lh-regular-font);
}

div.accordion div.card div.card-header i {
  font-size: 7px;
  color: var(--black-title-color);
  display: flex;
  align-items: center;
  position: absolute;
  right: 7px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

div.accordion div.card div.card-header i.collapsed {
  transform: rotate(180deg);
}

div.accordion div.card div.collapse div.card-body.contTable {
  padding: 0 8px;
}

/* Estilo Especial para ajustes del plugin del Scroll */

div.os-scrollbar.os-scrollbar-vertical {
  z-index: 2000 !important;
}

div.os-scrollbar.os-scrollbar-horizontal {
  z-index: 2000 !important;
  bottom: -15px;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: var(--gray-disable-bg-color);
}

.os-theme-dark
  > .os-scrollbar:hover
  > .os-scrollbar-track
  > .os-scrollbar-handle {
  background: var(--black-alter-text-color);
}

/* Tables */

table.table {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 none;
  width: 100%;
  font-size: var(--normal-font);
  line-height: var(--lh-normal-font);
  color: var(--black-text-color);
}

table.table.styleTableSinHeader thead th {
  padding: 0 !important;
  border: 0 none;
}

table.table tbody tr td {
  padding: 6px 5px;
  border: 0 none;
  vertical-align: middle;
  border-bottom: 1px solid var(--btn-disabled-color);
}

table.table tbody tr:first-child td {
  border-top: 0 none;
}

table.table.styleTableList tbody td {
  padding: 17px 15px;
  background-color: var(--gray-color);
  border-bottom: 1px solid var(--gray-border-color);
}

table.table.styleTableList tbody tr.selected td {
  background-color: var(--gray-selected-bg-color);
}

table.table.styleTableList tbody td div.contInfoTable.contInfoImg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

table.table.styleTableList tbody td div.contInfoTable.contInfoImg img {
  width: 16px;
  margin-right: 8px;
}

table.table.styleTableList tbody td span.spanInfoPrincipal {
  font-weight: 400;
  font-size: var(--normal-font);
  line-height: var(--lh-normal-font);
  display: block;
}

table.table.styleTableList tbody td span.spanSubInfoPrincipal {
  font-weight: 700;
  font-size: var(--medium-font);
  line-height: var(--lh-medium-font);
}

table.table.styleTableList tbody td div.divContBtnTable {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  padding-top: 10px;
}

table.table.styleTableList tbody td div.divContBtnTable button.buttonBtn {
  width: 80px;
  margin: 0;
}

table.table.styleTableList
  tbody
  td
  div.divContBtnTable
  button.buttonBtn:first-child {
  margin-right: 15px;
}

/*Alertas*/

div.swal2-container.swal2-backdrop-show {
  background: rgba(0, 0, 0, 0.7);
  z-index: 2500;
}

div.swal2-container div.swal2-popup.swal2-modal {
  width: 100%;
  margin: 0px;
  background: var(--white-color);
  border-radius: 10px;
  padding: 16px;
  max-width: 450px;
}

div.swal2-container div.swal2-popup.swal2-modal img.swal2-image {
  margin: 0px auto;
}

div.swal2-container div.swal2-popup.swal2-modal h2.swal2-title {
  /* Title Alert */
  color: var(--black-text-color);
}

div.swal2-container div.swal2-popup.swal2-modal img.swal2-image {
  width: 40px !important;
  height: 40px !important;
}

div.swal2-container div.swal2-popup.swal2-modal div.swal2-html-container {
  margin: 10px 5px 20px 5px;
  font-weight: 400;
  font-size: var(--normal-font);
  line-height: var(--lh-normal-font);
  text-align: center;
  color: var(--black-text-color);
  padding: 2px 10px;
  overflow: initial;
}

div.swal2-container div.swal2-popup.swal2-modal div.swal2-actions {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

div.swal2-container
  div.swal2-popup.swal2-modal
  div.swal2-actions
  button.swal2-confirm,
div.swal2-container
  div.swal2-popup.swal2-modal
  div.swal2-actions
  button.swal2-deny {
  font-size: var(--p-font);
  line-height: var(--lh-p-font);
  background: var(--btn-primary-color);
  border-color: var(--orange-main-color);
  color: var(--white-text-color);
  max-width: 100px;
  margin: 0;
}

div.swal2-container
  div.swal2-popup.swal2-modal
  div.swal2-actions
  button.swal2-confirm:hover,
div.swal2-container
  div.swal2-popup.swal2-modal
  div.swal2-actions
  button.swal2-deny:hover {
  background: var(--btn-primary-hover-color);
  border-color: var(--btn-primary-hover-color);
  background-image: none;
}

div.swal2-container
  div.swal2-popup.swal2-modal
  div.swal2-actions
  button.swal2-confirm:focus,
div.swal2-container
  div.swal2-popup.swal2-modal
  div.swal2-actions
  button.swal2-deny:focus {
  background: var(--btn-primary-hover-color);
  border-color: var(--btn-primary-hover-color);
  box-shadow: none;
}

div.swal2-container
  div.swal2-popup.swal2-modal
  div.swal2-actions
  button.swal2-confirm:active,
div.swal2-container
  div.swal2-popup.swal2-modal
  div.swal2-actions
  button.swal2-deny:active {
  background: var(--btn-primary-hover-color);
  border-color: var(--btn-primary-hover-color);
  box-shadow: none;
  background-image: none;
}

div.swal2-container
  div.swal2-popup.swal2-modal
  div.swal2-actions
  button.swal2-deny.btnHidden {
  display: none !important;
}

/* Modal Notification */

.modal-backdrop.show {
  z-index: 2001;
  background: var(--black-text-color);
}

.modal-backdrop.show {
  opacity: 0.7;
}

div.modal.notificationModal {
  z-index: 2002;
}

div.modal.notificationModal.show .modal-dialog {
  max-width: 450px;
}

div.modal.notificationModal.show .modal-content {
  border-radius: 10px;
}

div.modal.notificationModal div.modal-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.modal.notificationModal div.modal-footer {
  padding: 0px 16px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 0 none;
}

div.modal.notificationModal div.modal-footer button {
  width: 45%;
  max-width: 100px;
  margin: 0;
}

div.modal.notificationModal img.imgIconAlert {
  height: 40px;
}

div.modal.notificationModal p.pTextDescAlertModal {
  font-weight: 400;
  font-size: var(--normal-font);
  line-height: var(--lh-normal-font);
  text-align: center;
  color: var(--black-text-color);
  margin: 20px 5px 20px 5px;
}

/* Checkbox Style */

.lbContCheck {
  position: relative;
  padding-left: 33px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: var(--normal-font);
  line-height: var(--lh-normal-font);
  color: var(--black-text-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 27px;
  display: flex;
  align-items: center;
}

.lbContCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.spanCheckmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: var(--white-color);
  border-radius: 50px;
  border: 1px solid var(--gray-border-color);
}

.lbContCheck:hover input ~ .spanCheckmark {
  background-color: var(--white-color);
}

.lbContCheck input:checked ~ .spanCheckmark {
  background-color: var(--orange-main-color);
  border: 1px solid var(--orange-main-color);
}

.spanCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

.spanCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

.lbContCheck input:checked ~ .spanCheckmark:after {
  display: block;
}

.lbContCheck .spanCheckmark:after {
  left: 7px;
  top: 3px;
  width: 7px;
  height: 12px;
  border: solid var(--white-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Media Querys */

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1200px) {
  /*  */
}

/* Large devices (desktops, 992px and up) */

@media (max-width: 991px) {
}

/* Medium devices (tablets, 768px and up) */

@media (max-width: 767px) {
}

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 575px) {
  /* Variables */
  :root {
    /* Fonts Size */
    --small-font: 8px;
    --lh-small-font: 7px;
    --regular-font: 9px;
    --lh-regular-font: 10px;
    --medium-font: 10px;
    --lh-medium-font: 9px;
    --big-font: 20px;
    --lh-big-font: 19px;
    --normal-font: 14px;
    --lh-normal-font: 12px;
    --title-font: 16px;
    --lh-title-font: 14px;
    --p-font: 12px;
    --lh-p-font: 11px;
    --special-font: 15px;
    --lh-special-font: 16px;
    --title-details-font: 18px;
    --lh-title-details-font: 17px;
  }

  /* Input */
  input.form-control,
  textarea.form-control,
  select.form-control {
    height: 40px;
    padding: 5px 8px;
  }

  /* select.form-control {
        top: 0 !important;
        left: 0 !important;
        display: block !important;
        width: 100% !important;
        z-index: 2 !important;
    } */
  i.iTooltipPassword {
    right: 25px;
    bottom: 27px;
    font-size: 15px;
  }

  input.form-control.passwordInfo,
  input[type="password"].form-control {
    padding-right: 30px;
  }

  /* Select Bootstrap */
  div.bootstrap-select button.dropdown-toggle {
    height: 40px;
    padding: 2px 8px;
  }

  /* Header */
  p.pInfoUser span.spanNombreCliente {
    font-size: var(--medium-font);
    line-height: var(--lh-medium-font);
  }

  p.pInfoUser span.spanInfoAdicional {
    font-size: var(--small-font);
    line-height: var(--lh-small-font);
  }

  p.pInfoBodega span.spanSubTitleBodegas {
    font-size: var(--small-font);
    line-height: var(--lh-small-font);
  }

  div.divContDetalle p.pDetalles {
    font-size: var(--regular-font);
    line-height: var(--lh-regular-font);
  }

  /* Alertas */
  div.swal2-container div.swal2-popup.swal2-modal img.swal2-image {
    width: 40px !important;
    height: 40px !important;
  }

  div.swal2-container div.swal2-popup.swal2-modal {
    max-width: 350px;
  }

  /* Modal Notification */
  div.modal.notificationModal img.imgIconAlert {
    height: 40px !important;
  }

  div.modal.notificationModal.show .modal-dialog {
    max-width: 350px;
    margin: auto auto;
  }

  /* Botones */
  button.buttonBtn {
    height: 40px;
    width: 230px;
    font-size: var(--p-font);
    line-height: var(--lh-p-font);
  }

  button.buttonBtn.btnIco {
    height: 45px;
  }

  button.buttonBtn.btnIco.icoUp i {
    font-size: 15px;
    margin-bottom: 2px;
  }

  /* Checkbox Style */
  /* .lbContCheck {
        padding-left: 27px;
        height: 20px;
    }
    .spanCheckmark {
        top: 3px;
        left: 0;
        height: 17px;
        width: 17px;
    }
    .lbContCheck .spanCheckmark:after {
        left: 5px;
        top: 2px;
        width: 5px;
        height: 10px;
        border-width: 0 2px 2px 0;
    } */
}

@media (max-width: 500px) {
}

@media (max-width: 450px) {
}

@media (max-width: 372px) {
  div.modal.notificationModal.show .modal-dialog {
    max-width: 350px;
    margin: auto 11px;
  }
}

/*jAlerts by jdfm*/
#popup_ok {
  background: #1664ab !important;
  width: 22% !important;
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 1px 0 0px 0 !important;
  margin-left: 70% !important;
}

.naranjaMandados {
  color: #1664ab !important;
}

#popup_overlay {
  position: absolute !important;
  z-index: 99998 !important;
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  background: #000 !important;
  opacity: 0.8 !important;
}

#popup_title {
  font-size: 14px !important;
  font-weight: 500 !important;
  text-align: left !important;
  line-height: 1.75em !important;
  color: #fff !important;
  background: #1664ab !important;
  border: solid 0px !important;
  border-bottom: solid none !important;
  cursor: default !important;
  margin: 0em !important;
  padding: 0 0 0 10px !important;
}

#popup_container {
  font-family: Arial, sans-serif !important;
  font-size: 12px !important;
  min-width: 300px !important;
  max-width: 600px !important;
  background: #fff !important;
  border: none !important;
  color: #000 !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
}

/*spinner by jdfm*/

.spinner {
  position: fixed;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  z-index: 1200;
  background: #fff;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.contSpinner {
  position: fixed;
  left: 45%;
  top: 39%;
}

.spinner-msg {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #999999;
}

.spinner-img {
  width: 130px;
  height: 130px;
  margin: 0 auto;
}

/*buttons by jdfm*/
.BotonCabecera {
  margin-top: 10px !important;
  padding: 9px 24px 9px 26px !important;
  border-radius: 10px;
}

/****** buttons' style starts here ******/
.button {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-decoration: inherit;
  border: 3px solid;
  padding: 13px 85px;
  margin: 20px;
}

.button:hover {
  -webkit-transition: 200ms ease-in;
  -moz-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

/****** blue buttons ******/
.button1 {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(52, 168, 200);
  /* #34a8c8 */
  color: rgb(52, 168, 200);
}

.button1:hover {
  border: 3px solid rgba(52, 168, 200, 0.7);
  color: rgba(52, 168, 200, 0.7);
}

.button2 {
  background-color: #1664ab;
  border-color: #1664ab;
  color: rgb(255, 255, 255);
}

.button2:hover {
  background-color: white;
  border-color: #1664ab;
  color: #1664ab;
}

.button3 {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(52, 168, 200);
  color: rgb(52, 168, 200);
}

.button3:hover {
  background-color: rgb(52, 168, 200);
  border-color: rgb(52, 168, 200);
  color: rgb(255, 255, 255);
}

/******  red buttons ******/
.button7 {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(226, 65, 62);
  /* #e2413e */
  color: rgb(226, 65, 62);
}

.button7:hover {
  border: 3px solid rgba(226, 65, 62, 0.8);
  color: rgba(226, 65, 62, 0.8);
}

.button8 {
  background-color: rgb(226, 65, 62);
  border-color: rgb(226, 65, 62);
  color: rgb(255, 255, 255);
}

.button8:hover {
  background-color: white;
  border-color: rgb(226, 65, 62);
  color: rgb(226, 65, 62);
}

.button9 {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(226, 65, 62);
  color: rgb(226, 65, 62);
}

.button9:hover {
  background-color: rgb(226, 65, 62);
  border-color: rgb(226, 65, 62);
  color: rgb(255, 255, 255);
}

/****** green buttons ******/
.button4 {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(124, 191, 66); /* #7cbf42 */
  color: rgb(124, 191, 66);
}
.button4:hover {
  border: 3px solid rgba(124, 191, 66, 0.7);
  color: rgba(124, 191, 66, 0.7);
}

.button5 {
  background-color: rgb(124, 191, 66);
  border-color: rgb(124, 191, 66);
  color: rgb(255, 255, 255);
}
.button5:hover {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(124, 191, 66);
  color: rgb(124, 191, 66);
}

.button6 {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(124, 191, 66);
  color: rgb(124, 191, 66);
}
.button6:hover {
  background-color: rgb(124, 191, 66);
  border-color: rgb(124, 191, 66);
  color: rgb(255, 255, 255);
}

.containerApp {
  min-width: 1280px;
}

.FooterSistema {
  min-height: 50px;
  display: flex !important;
  justify-content: center !important;
}

.iconoFooter {
  margin-right: 10px;
  height: 38px;
  border: 1px gray black;
  border-radius: 10px;
}

.ML-15 {
  margin-left: 15px;
}

.TGray {
  color: #606062 !important;
}

.BlueSistem {
  color: #1664ab !important;
}

.GreenSistem {
  color: rgb(124, 191, 66) !important;
}

@media (max-width: 750px) {
  .txtFooter {
    display: none;
  }
}

@media (max-width: 600px) {
  .txtFooter {
    display: none;
  }

  .contSpinner {
    position: fixed;
    left: 30%;
    top: 39%;
  }
}
