/*
*/
body, html {
    height: 100%;
    color: #FFFFFF;
    font-family:Source Sans Pro !important;
    background-color: #1664AB;
    overflow: hidden;
     
}

.oculto {
    display: none;
}
.footer1 {
    background: black;
    display: flex;
    justify-content: center;
}

::-moz-placeholder {
    text-align: center;
    color: #989797 !important;
    font-family:Source Sans Pro !important;
    font-style: italic;
}

::-webkit-input-placeholder { /* WebKit */
    color: #989797!important;
    text-align: center;
    font-style: italic;

}

.ImagenContenedor {
    background-color: #1664AB;
    background-size: 105%;
    background-repeat: no-repeat;
}

.fill {
    height:100%;
    min-height:100%;
}

.contenedor {
    height:100%;
    min-height:100%;
    padding: 0px;
}

.notaria{
    position: relative;
    top:35%;
}

.codigo {
    left: 35.5%;
    width: 50%;
}

.form-control:focus {
    color: #495057;
    background-color: #FFF;
    border-color: #2F4858;
    outline: 0;
    box-shadow: 0 0 0 .2rem #2F4858;

}

.usuario {
    width: 40%;
    margin: 0 auto;
}
.password {
    width: 40%;
    margin: 0 auto;
}
.btnIngresar {
    position: relative;
    top: 12%;
}

.cajas {
    background: transparent;
    background-color: #FFFFFF;
    width: 50% !important;
    font-size: 12px;
}

.cloud{
    position: absolute;
    text-align: left;
    top: 6%;
    left: -1%;

}

.logos{
    position: relative;
}

.piePag {
    font-family: Source Sans Pro !important;
    color: white !important;
    font-size: 16px;
    position: relative;
    top: 25%;
    float: right;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.form-control:focus
{
    box-shadow: 0 0 0 0.04rem #999999;
}

.bienvenido {
    font-size: 20px;
    font-weight: bold;
    color: #2f4858;
    padding: 0 0 0 6px;

}

.sistema {
    font-family: arial;
    font-style: italic;
    font-size: 12px;
    color : #2f4858;
}

.MandAvance {
    font-family: arial;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    color : #1664AB;
}

.group {
    background-color: #F2E76F !important;
    border: 1px solid #F2E76F !important;
}

.botonIngresar {
    border-radius: 0;
    background-color: #f2e76f;
    color: #2F4858;
    padding: 5px 50px;
    font-style: italic;
    font-weight: bold;
    border: 0;
}
.contenedorInicio {
    position: relative;
    top: 5%;
}

.salto {
    margin-top: 45px;
}

.imgLogo {
    max-width: 100%;
    height: auto;
}

#logoMil {
    display: none;
}

#logoMilTres {
    display: none;
}

/*#logoGrande {
    display: block;
}*/
#logoSm {
    display: none;
}

button:hover {
    background-color: #F2E7B7;
}

button:active {
    background-color: #DEDEDE;
}
.contenedorInicio {
    position: relative;
    top: 5%;
}
@media (max-width: 980px) {

    #logoSm {
        display: block;
        width: 114px;
        height:113px;
        margin: auto;
    }
    .contenedor {
        height: 50%;
        min-height: 0;
        top: 15%;
    }

    .usuario {
        display: flex;
        width: 263px;
        margin: 0 auto;
    }

    .password {
        display: flex;
        width: 263px;
        margin: 0 auto;
    }

    .salto {
        margin-top: 10%;
    }

    .ImagenContenedor {
        background-color: #1664AB;
        background-image: none;
    }
}

@media (min-width: 981px) and (max-width:1024px) {
    #logoMil {
        display: block;
        margin: auto;
    }
    .salto {
        margin-top: 20px;
    }

    .usuario {
        width: 263px;
        margin: 0 auto;
    }

    .password {
        width: 263px;
        margin: 0 auto;
    }

}

@media (min-width: 1025px) and (max-width:1380px) {
    #logoMilTres {
        display: block;
        margin: auto;
    }

    #logoMil {
        display: none;
    }
    .salto {
        margin-top: 20px;
    }

    .usuario {
        display:flex;
        width: 263px;
        margin: 0 auto;
    }

    .password {
        display: flex;
        width: 263px;
        margin: 0 auto;
    }

    .imgLogo {
        max-width: 100%;
        height: 100%;
    }

}




@media (min-width: 1301px) and (max-width:1900px) {
    #logoMil {
        display: none;
    }
    .ImagenContenedor {
        background-color: #1664AB;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .imgLogo2 {
        width: 56% !important;
        margin-left: -10%;
        margin-top: -436px;
    }

    .salto {
        margin-top: 20px;
    }

    .usuario {
        width: 263px;
        margin: 0 auto;
    }

    .password {
        width: 263px;
        margin: 0 auto;
    }


}


